<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ycsq">
    <insert id="insert">
      insert into ycsqinfo(yccs,ycr,ycsj,cssj,ycsy,mdd,isnight,czrs,sfxysj,nfhsj,sqsj)
      values(#{yccs},#{ycr},#{ycsj},#{cssj},#{ycsy},#{mdd},#{isnight},#{czrs},#{sfxysj},#{nfhsj},#{sqsj})
    </insert>
    <update id="update">
        update ycsqinfo
        set spstatus = 1
            where id = #{id}
    </update>
    <update id="updateNty">
        update ycsqinfo
        set spstatus = 2
            where id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        delete from ycsqinfo where id = #{id}
    </delete>

    <!-- selectOne -->
    <select id="selectOne" parameterType="String" resultMap="RM_Veh">
      select
        v.vehnum vehnum ,
        v.vehversion vehversion ,
        v.baocount baocount,
        v.weicount weicount,
        v.repcount repcount,
        v.shicount shicount
      from veh v
      where v.vehnum = #{vehnum}
    </select>
    <resultMap id="RM_Veh" type="_Veh">

        <result property="vehnum" column="vehnum" />
        <result property="vehversion" column="vehversion" />
        <result property="baocount" column="baocount"/>
        <result property="weicount" column="weicount"/>
        <result property="repcount" column="repcount"/>
        <result property="shicount" column="shicount"/>
    </resultMap>

    <!-- selectAll -->
    <select id="selectAll" resultType="_Ycsq">
         select
         *
      from ycsqinfo y
    </select>




    <!-- selectPage -->
    <select id="selectPage" resultType="_Ycsq">
      select
        *
      from ycsqinfo y limit #{offset},#{limit}
    </select>

    <select id="selectWaitedApPage" resultType="_Ycsq">
      select
        *
      from ycsqinfo y where y.spstatus = 0 limit #{offset},#{limit}
    </select>

    <select id="selectSpedPage" resultType="_Ycsq">
      select
        *
      from ycsqinfo y where y.spstatus != 0 limit #{offset},#{limit}
    </select>

    <select id="selectWaitedArrPage" resultType="_Ycsq">
      select
        *
      from ycsqinfo y where y.apstatus = 0 and
      y.spstatus = 1
      limit #{offset},#{limit}
    </select>

    <select id="selectWaitedArrCount" resultType="int">
      select
        count(id)
      from ycsqinfo y where y.apstatus = 0 and y.spstatus = 1
    </select>

    <select id="selectSpedCount" resultType="int">
      select
        count(id)
      from ycsqinfo y where y.spstatus != 0
    </select>
    <!-- selectCount -->
    <select id="selectCount" resultType="int">
      select
        count(id)
      from ycsqinfo y
    </select>

    <select id="selectWaitedApCount" resultType="int">
      select
        count(id)
      from ycsqinfo y where y.spstatus = 0
    </select>

</mapper>